<div class="col-xs-12">
    <div class="container-fluid">
      <div class="col-xs-12">
        <h1> Welcome </h1>
      </div>
      <div class="col-xs-4">
        <h2> Bienvenida </h2>
      </div>
      <div class="col-xs-8">
        <% @preguntas.each do |p| %>
          <div class="col-xs-12">
            <input id= "evaluacion_id" type="hidden" value=<%= p.evaluacion_id%>>
            <h4> <%= p.pregunta %> </h4>
            <ul class="radio-form">
            <div class="form-container">
            <form>
            <% @respuestas.each do |r| %>
              <% if p.id == r.pregunta_id %>
                <% if p.tipo == 1 %>
                    <input id= "pregunta_id" type="hidden" value=<%= r.pregunta_id%>>
                  <li>
                    <input type="radio" id= <%= r.id %> name="selector" value= <%= r.id%> >
                    <label for= <%= r.id %> ><%= r.respuesta %> </label>
                    
                    <div class="check"></div>
                  </li>
                <% elsif p.tipo == 2 %>
                  <input type="text" name="respuesta">
                <% elsif p.tipo == 3 %>
                  <input type="checkbox" name="respuesta-checkbox" value= <%= r.id%>> <%= r.respuesta%>
                <% end %>
              <% end %>
            <% end %>
            </form>
            </div>
            </ul>
          </div>
        <% end %>
         <button id="enviar" type="submit" class="btn btn-primary btn-block">Enviar</button>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
      <div class="col-xs-6 col-xs-offset-5">
        <h3> deslogue </h3>
      </div>
    </div>
</div>

<script type="text/javascript">

  $("#enviar").click(function(){
    var form = ($('form').serializeArray());
    var datos = [];
    var pregunta_id;
    var user_id = <%= current_user.id %>;
    var evaluacion_id = $('#evaluacion_id').val();
    $(form).each(function(index, value){
    datos.push((value.value));
    });
    pregunta_id = $("#pregunta_id").val();
  $.ajax({
      type: "get",
      url: "../rspondes",
      data: {
        user_id: user_id,
        pregunta_id: pregunta_id,
        respuestas: datos,
        evaluacion_id: evaluacion_id
      },
      success: function(data) {
              alert(data);
      },
      error: function(data) {
        alert("No entra");
      }
    });
  });
</script>
