%html
  %head
  %body
    .col-xs-12
      %ul{class: "nav nav-tabs navbar-default"}
        %li{role: "presentation", class: "active"}
          = link_to "home" 
        - if current_user
          %li{role: "presentation"}
            =link_to "Profile", profile_path(:user_id => current_user.id)
        %ul{class: "nav navbar-right"}
          %li{role: "presentation", class: "active"}
            - if current_user
              = link_to current_user.email,  destroy_user_session_path, :method => :DELETE
            - else
              = link_to "Login", new_user_session_path 
    -if current_user
      .container-fluid
        .col-xs-12
          %h1 Welcome
        .col-xs-4
          %h2 Bienvenida
        .col-xs-8    
          %h1 Modulos
          - @modulos.each do |c|
            .col-xs-12
              %hr
              %h2
            - if  current_user
              = link_to c.nombre, courses_path(:modulo_id => c.id)
              %p= c.descripcion
              %p= c.created_at
            - else
              = link_to c.nombre, new_user_session_path  
              %p= c.descripcion
              %p= c.created_at
      .col-xs-12
        %hr
      .col-xs-6.col-xs-offset-5
        %h3 deslogue
  %footer