.container-fluid
  .col-xs-12
    %h1 Welcome
  .col-xs-4
    %h2 Bienvenid
  .col-xs-1
    = link_to "Adjuntar", new_admins_attachment_path(:course_attachment_id => params[:course_id])
  .col-xs-7
    - @specific_course.each do |c|
      .col-xs-12
        %hr
        %h2
          = link_to c.nombre
        %p= c.descripcion
        %p= c.created_at
    %ul{class: "sortable ui-sortable"}
      - @attachments.each do |c|
        %div{id: c.id, course: c.course_id,class: "col-xs-12 ui-sortable-handle", :style => "position: relative; left: 0px;"}
          %h3
          - if c.id <= 9
            %li{class: "", :style => "list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px;"}
              = link_to "#{c.file_file_name}", admins_file_path(:attachment_file => c.file_file_name, :id => "00" + c.id.to_s, :course_attachment_id=> c.course_id)
          - elsif c.id > 9 && c.id <= 99
            %li{class: "", :style => "list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px;"}
              = link_to "#{c.file_file_name}", admins_file_path(:attachment_file => c.file_file_name, :id => "0" + c.id.to_s)
          - else
            %li{class: "", :style => "list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px;"}
              = link_to "#{c.file_file_name}", admins_file_path(:attachment_file => c.file_file_name, :id => c.id.to_s) 
          %p= c.file_content_type
          %p= c.file_updated_at
      %h4 Evaluaciones
      = link_to "Nueva Evaluacion", new_admins_evaluacion_path(:course_id => params[:course_id]) 
      - @evaluaciones.each do |e|
        = link_to e.descripcion
  .col-xs-12
    %hr
  .col-xs-6.col-xs-offset-5
    %h3 deslogue
:javascript
        /* Getting order of files */
  $(".ui-sortable").sortable({
    revert: true
  });
  $( "ul, li" ).disableSelection();
  $( ".ui-sortable" ).sortable({
    stop: function(event, ui){
      $.ajax({
        type: 'get',
        url: '../files/update_file_order',
        data: {
          attachment_id: $(ui.item).attr("id"),
          course: $(ui.item).attr("course"),
          order: $(ui.item).index()+1
        },
        success: function(data) {
          $.fancybox(data, {
                  // API options here
                  helpers:  {
                  title : {
                  type : 'inside'
                  },
                  overlay : {
                  css : {
                  'background' : 'rgba(255,255,255,0.7)'
                        }
                    }
                  }
              });
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
        $.fancybox("<div><h1>A ocurrrido un error, comunicate en el encargado de Sistemas<hr><br></h1>Status: " + textStatus + " Error: " + errorThrown + "</div>", {
                  // API options here
                 helpers:  {
                  title : {
                  type : 'inside'
                  },
                  overlay : {
                  css : {
                  'background' : 'rgba(255,255,255,0.5)'
                        }
                    }
                  }
              }); 
      //alert("Status: " + textStatus); alert("Error: " + errorThrown); 
      }   
    })
    }
  });
%footer