
<div class="col-xs-12">
      <ul class= "nav nav-tabs navbar-default">
          <li role= "presentation" class= "active">
          <%= link_to "Home", root_path %>
          </li>
          <% if current_user %>
          <li role= "presentation">
            <%= link_to "Profile", profile_path(:user_id => current_user.id) %>
          </li>
          <li role= "presentation">
            <%= link_to "Mis cursos", mycourses_path(:id => current_user.id) %>
          </li>
          <li role= "presentation">
            <%= link_to "Comunidad" %>
          </li>
          <li role= "presentation">
            <%= link_to "Mensajes" %>
          </li>
          <li role= "presentation">
            <%= link_to "Soporte" %>
          </li>
          <ul class= "nav navbar-right">
            <li role: "presentation" class:"active">
              <% if current_user %>
                <%= link_to current_user.email,  destroy_user_session_path, method: :DELETE %>
              <% else %>
                <%= link_to "Login", new_user_session_path %>
              <% end %>
            </li>
        </ul>
        <% end %>
      </ul>
    <div class="container-fluid">
      <div class="col-xs-12">
        <h1> Welcome </h1>
      </div>
      <div class="col-xs-4">
        <h2> Bienvenida </h2>
      </div>
      <div class="col-xs-8">
        <% @preguntas.each do |p| %>
          <div class="col-xs-12">
          <input id= "evaluacion_id" type="hidden" value=<%= p.evaluacion_id%>>
            <h4> <%= p.pregunta %> </h4>
            <ul class="radio-form">
            <div class="form-container">
              <form>
            <% @respuestas.each do |r| %>
              <% if p.id == r.pregunta_id %>
                    <input id= "pregunta_id" type="hidden" value=<%= r.pregunta_id%>>
                  <li>
                    <input type="radio" id= <%= r.id %> name="selector" value= <%= r.id%> >
                    <label for= <%= r.id %> ><%= r.respuesta %> </label>
                    
                    <div class="check"></div>
                  </li>
              <% end %>
            <% end %>
          </form>
            </div>
            </ul>
          </div>
        <% end %>
         <button id="enviar" type="submit" class="btn btn-primary btn-block">Enviar</button>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
      <div class="col-xs-6 col-xs-offset-5">
        <h3> deslogue </h3>
      </div>
    </div>
</div>

<script type="text/javascript">

  $("#enviar").click(function(){
    var form = ($('form').serializeArray());
    var datos = [];
    var pregunta_id;
    var user_id = <%= current_user.id %>;
    var evaluacion_id = $('#evaluacion_id').val();
    $(form).each(function(index, value){
    datos.push((value.value));
    });
    pregunta_id = $("#pregunta_id").val();
  $.ajax({
    type: "get",
    url: "../respondes",
    data: {
      user_id: user_id,
      pregunta_id: pregunta_id,
      respuestas: datos,
      evaluacion_id: evaluacion_id
    },
    success: function(data) {
            alert(data);
    },
    error: function(data) {
      alert("No entra");
    }
  });
  });
</script>
