%html
  %head
  %body
  - if current_user
    .col-xs-12
      %ul{class: "nav nav-tabs navbar-default"}
        %li{role: "presentation", class:"active"}
          = link_to "home", root_path 
        - if current_user
          %li{role: "presentation"}
            =link_to "Profile", profile_path(:user_id => current_user.id)
          %li{role: "presentation"}
            = link_to "Mis cursos", mycourses_path(:id => current_user.id)
          %li{role: "presentation"}
            = link_to "Comunidad"
          %li{role: "presentation"}
            = link_to "Mensajes"
          %li{role: "presentation"}
            = link_to "Soporte"
        %ul{class: "nav navbar-right"}
          %li{role: "presentation", class:"active"}
            - if current_user
              = link_to current_user.email,  destroy_user_session_path, :method => :DELETE
            - else
              = link_to "Login", new_user_session_path 
    .container-fluid
      .col-xs-12
        %h1 Welcome
      .col-xs-4
        %h2 Bienvenida
      .col-xs-8    
        %h1 Modulos
        - @info_courses.each do |c|
          .col-xs-12
            %hr
            %h2
            = link_to c.nombre, specific_course_path(:course_id => c.id)
            %p= c.descripcion
            %p= c.created_at
      .col-xs-12
        %hr
      .col-xs-6.col-xs-offset-5
        %h3 deslogue
  - else
    :javascript
      window.location.href = "/users/sign_in"
  %footer