%html
  %head
  %body
    .col-xs-12
      %ul{class: "nav nav-tabs navbar-default"}
        %li{role: "presentation", class: "active"}
          = link_to "home", root_path 
        - if current_user
          %li{role: "presentation"}
            =link_to "Profile", profile_path(:user_id => current_user.id)
        %ul{class: "nav navbar-right"}
          %li{role: "presentation", class: "active"}
            - if current_user
              = link_to current_user.email,  destroy_user_session_path, :method => :DELETE
            - else
              = link_to "Login", new_user_session_path 
    .container-fluid
      .col-xs-12
        %h1 Welcome
      .col-xs-4
        %h2 Bienvenid
      .col-xs-7    
        - @specific_course.each do |c|
          .col-xs-12
            %hr
            %h2
              = link_to c.nombre
            %p= c.descripcion
            %p= c.created_at
        %ul{class: "sortable ui-sortable"}
          - @attachments.each do |c|
            %div{id: c.id, course: c.course_id,class: "col-xs-12 ui-sortable-handle", :style => "position: relative; left: 0px;"}
              %h3
              - if c.id <= 9
                %li{class: "", :style => "list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px;"}
                  = link_to "#{c.file_file_name}",convert_attachment_path(:attachment_file => c.file_file_name, :file_id => "00" + c.id.to_s, :course_attachment_id=> c.course_id)
              - elsif c.id > 9 && c.id <= 99
                %li{class: "", :style => "list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px;"}
                  = link_to "#{c.file_file_name}",convert_attachment_path(:attachment_file => c.file_file_name, :file_id => "0" + c.id.to_s)
              - else
                %li{class: "", :style => "list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px;"}
                  = link_to "#{c.file_file_name}", convert_attachment_path(:attachment_file => c.file_file_name, :file_id => c.id.to_s) 
              %p= c.file_content_type
              %p= c.file_updated_at
      .col-xs-12
        %hr
      .col-xs-6.col-xs-offset-5
        %h3 deslogue
  %footer