<!DOCTYPE html>
<html>
<head>
  <title>PropuestaOS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="col-xs-12">
      <ul class= "container-fluid nav nav-tabs navbar-default">
          <li role= "presentation" class= "active">
          <%= link_to "Home", root_path %>
          </li>
          <% if current_user %>
          <li role= "presentation">
            <%= link_to "Profile", profile_path(:user_id => current_user.id) %>
          </li>
          <li role= "presentation">
            <%= link_to "Mis cursos", mycourses_path(:id => current_user.id) %>
          </li>
          <li role= "presentation">
            <%= link_to "Comunidad" %>
          </li>
          <li role= "presentation">
            <%= link_to "Mensajes" %>
          </li>
          <li role= "presentation">
            <%= link_to "Soporte" %>
          </li>
          <ul class= "nav navbar-right">
            <li role: "presentation" class:"active">
              <% if current_user %>
                <%= link_to current_user.email,  destroy_user_session_path, method: :DELETE %>
              <% else %>
                <%= link_to "Login", new_user_session_path %>
              <% end %>
            </li>
        </ul>
        <% else %>
          <ul class= "nav navbar-right">
          <li role: "presentation" class: "active">
          <%= link_to "Login", new_user_session_path %>
          </li>
          </ul>
        <% end %>
      </ul>
    <div class="container-fluid">
      
      <%= yield %>
    </div>
</div>

</body>
</html>
